# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules/*
/packages/**/node_modules/*
/packages/**/.yarn/*
/packages/**/.yarn.lock
/packages/**/*.iml
.idea
